/* .splash-container {
    display: flex;
    text-align: center; 
    background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 100%),
        url("/assets/splash-bg.jpg");
    background-color: black;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
} */

.splash-center {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#bg-image {
    background-image: image-url("splash-bg.jpg");
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
}

 .splash-box {
    display: inline-block;
    position: absolute;
}

.splash-main-text {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.splash-text {
    font-size: 26px;
    font-weight: 400px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.splash-subtext {
    font: inherit;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 20px;
}

.splash-signup-btn {
    align-items: center;
    min-height: 40px;
    color: #fff;
    background-color: #e50914;
    background-image: linear-gradient(to bottom, #e50914, #db0510);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .1px;
    font-size: 25px;
    font-stretch: 100%;
    border-style: none;
    height: 60px;
    width: 300px;
    border-radius: 2px;
} 

.form-field {
    height: 60px;
    width: 400px;
    margin-right: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    padding-left: 20px;
}

.splash-demo {
    margin-top: 15px;
}

.black-box {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    height: 150px;
    padding: 20px;
    border-radius: 8px;
}

#field-1 {
    margin-left: 10px;
}

.input-arrow {
    padding-left: 5px;
}

.svg-inline--fa {
    height: 0.80em;
}

